.quick-categories {
    display: flex;
}

.quick-categories .card {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

.quick-categories .card .img {
    height: 350px;
    width: 250px;
    margin-bottom: 10px;
}


.delivery-info h2 {
    text-align: center;
}

.delivery-info .info-card {
    text-align: center;
}
