/* ==== Список элементов меню ==== */
.navListBtn {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navBtn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 12px;
  background-color: var(--ButtonColor);
  border: 2px solid var(--borderColor);
  transition: all 0.3s ease;
  box-shadow: 0 0 6px var(--shadowColor);
}

.navBtn:hover {
  background-color: var(--ButtonColorHover);
  box-shadow: 0 0 15px var(--ButtonColor), 0 0 25px var(--ButtonColorHover);
  transform: translateY(-3px);
}

.navBtn a {
  text-decoration: none;
  color: var(--ButtonAColor);
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navBtn:hover a {
  color: #fff;
}

.LoginRegBtn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 12px;
  background-color: var(--ButtonRegLogin); /* был яркий hover → теперь основной фон */
  border: 2px solid var(--borderColor); /* контрастная рамка */
  transition: all 0.3s ease;
  box-shadow: 0 0 6px var(--shadowColor);
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.LoginRegBtn:hover {
  background-color: var(--ButtonRegLoginHover); /* тёмный фон при hover */
  box-shadow: 0 0 15px var(--ButtonRegLogin), 0 0 25px var(--ButtonRegLoginHover);
  transform: translateY(-3px);
}