<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/blockStyle.css">
        <link rel="stylesheet" href="/static/css/card.css">
        <link rel="icon" href="/static/image/icon/3700460-cafe-coffee-cup-drink-hot-mug-shop_108752.ico">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            {% include 'widget/navbar.html' %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
         {% include 'widget/footer.html' %}
    </body>
</html>