<nav>
    <div class="barnd-and-nav" id="section_main">
        <div class="brand">
            <img src="/static/image/loho.png" width="140" height="100">
            <h1>BezGradusa</h1>
        </div>
        <div class="nav-button">
            <ul class="list_item">
                <li class="item"><a href="/home">Главная</a></li>
                <li class="item"><a href="/catalog">Каталог</a></li>
                <li class="item"><a href="#">Для партнеров</a></li>
            </ul>
        </div>
    </div>
</nav>