<nav>
    <div id="section_main">
        <h1>BezGradusa</h1>
        <h2>Данный сайт будет пердостовлять услуги по без алкогольных напитков</h2>
        <div style="margin-left: auto; margin-right: auto; width: 500px;">
            <ul class="list_item">
                <li class="item"><a href="/home">Главная</a></li>
                <li class="item"><a href="/catalog">Каталог</a></li>
                <li class="item"><a href="#">Для партнеров</a></li>
            </ul>
        </div>
    </div>
</nav>